html{
	  position: relative;
          min-height: 100%;
}
body { background-color:#FFFFFF;
	  margin-bottom: 140px;

}

.container-fluid {
	background-color:#58ACFA;

	}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
		background-color:#0B3861;
		color:white;
	}

.navbar-default .navbar-nav > li > a {
		color:white;
    background-color:#58ACFA;

	}

.navbar-default .navbar-nav > li > a:focus {
		color:white;
    background-color:#0B3861;
	}

.navbar-default .navbar-nav > li > a:hover {
		color:white;
    background-color:#0B3861;
	}



.footer{

	background-color: #0B243B;
	position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 120px;
}

#footer-sousdiv {
	
	  transform: translateY(+50%);
           text-align: center;
          position: relative;

}

.navbar .navbar-nav {
 
  text-align: center;
}
p{
    text-align: justify;
}

